//导航栏
.navbar {
  backdrop-filter: saturate(1.5) blur(24px) !important
  background: #fff9 !important
  z-index: 10000 !important
}

.navbar {
  .logo {
    border-radius: 50%;
  }
}

.navbar .links {
  background: none !important
}

//左列表
.sidebar-group {
  padding-left: 1rem
}

a.sidebar-link {
  position: relative;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

a.sidebar-link.active {
  padding-left: 4rem !important
  border-right none !important
  background #ffffff !important
}

.sidebar-links a.sidebar-link.active:before {
  height: 0.375rem;
  width: 0.375rem;
}

.sidebar-links a.sidebar-link:before {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 3rem;
  margin: auto;
  display: block;
  height: 0px;
  width: 0px;
  border-radius: 50%;
  background-color: rgb(73 84 230 / 1);
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  content: "";
}

//首页封面
.home-blog .hero {
  margin 0 auto !important
}

.content__default:not(.custom) img {
  max-width 60% !important;
}

.content__default p code, li code {
  color rgb(239, 112, 96) !important;
}

blockquote {
  padding 0.5rem 0 0.5rem 1rem !important;
  border-left: 0.25rem solid $accentColor !important;
  background #fff9f9 !important;
}

blockquote p {
  color black !important;
}

.page .page-title{
  text-align center !important
}

//标题设置
.content__default:not(.custom) > h1:first-child,
.content__default:not(.custom) > h2:first-child,
.content__default:not(.custom) > h3:first-child,
.content__default:not(.custom) > h4:first-child,
.content__default:not(.custom) > h5:first-child,
.content__default:not(.custom) > h6:first-child {
  margin-top: -4rem !important;
}

.content__default:not(.custom) > h1,
.content__default:not(.custom) > h2,
.content__default:not(.custom) > h3,
.content__default:not(.custom) > h4,
.content__default:not(.custom) > h5,
.content__default:not(.custom) > h6 {
  margin-top -3.5rem !important;
  padding-top ($navbarHeight + 1rem) !important
  font-weight: bold !important;
}

.page .theme-reco-content h2 {
  border-bottom: 1px solid $accentColor !important
  padding-left 0rem !important
  margin-bottom 1rem !important
}

.page .theme-reco-content h2::before {
  display none !important
}
h1{
  font-size 1.8rem !important
  font-weight 700 !important
  line-height 2.25rem !important
}
h2 {
  font-size 1.5rem !important
}
.social-share-global{
  display none
}

