//导航栏
.navbar {
  backdrop-filter: saturate(1.5) blur(24px) !important
  background: #fff9 !important
  z-index: 10000 !important
}

.navbar {
  .logo {
    border-radius: 50%;
  }
}

.navbar .links {
  background: none !important
}

//左列表
.sidebar-group {
  padding-left: 1rem
}

a.sidebar-link {
  position: relative;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
}

a.sidebar-link.active {
  padding-left: 4rem !important
  border-right none !important
  background #ffffff !important
}

.sidebar-links a.sidebar-link.active:before {
  height: 0.375rem;
  width: 0.375rem;
}

.sidebar-links a.sidebar-link:before {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 3rem;
  margin: auto;
  display: block;
  height: 0px;
  width: 0px;
  border-radius: 50%;
  background-color: rgb(73 84 230 / 1);
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  content: "";
}

//首页封面
.home-blog .hero {
  margin 0 auto !important
}



